.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
_book
_bookdown_files
bookclub-geohealth.Rmd
bookclub-geohealth.html
bookclub-geohealth.knit.md
bookclub-geohealth_files
libs
*.html
gadm36_ESP_0_sp.rds
